{% extends "page_special.html" %} 

{% block page_title %}<h1>{{ _("Recent changes") }}</h1>{% endblock %}
{% block title %}{{ _("Recent changes") }} - {{ wiki.site_name }}{% endblock %}

{% block content %}
    <ul id="hatta-changes">
    {% for date, date_url, title, author, comment in changes %}
        <li><a href="{{ date_url }}">{{ date_html(date)|safe }}</a>
            <b>{{ page.wiki_link(title)|safe }}</b> . . . .
            <i>{{ page.wiki_link('~' + author, author)|safe }}</i>
            <div class="hatta-comment">{{ comment }}</div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
