<!doctype html>
<html lang="{{wiki.language or 'en'}}"><head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
    {% block links %}{% endblock %}
    {% block meta %}{% endblock %}
</head><body><div id="hatta-header"> 
    {% block logo %}{% endblock %}
    {% block search %}{% endblock %}
    {% block menu %}{% endblock %}
    {% block page_title %}{% endblock %}
</div><div id="hatta-content"> 
    {% block content %}{% endblock %}
</div><div id="hatta-footer"> 
    {% block footer %}{% endblock %}
</div>
    {% block scripts %}{% endblock %}
</body></html>
