<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd"> 
<html><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>{% block title %}{% endblock %}</title>
    {% block links %}{% endblock %}
    {% block meta %}{% endblock %}
</head><body><div id="hatta-header"> 
    {% block logo %}{% endblock %}
    {% block search %}{% endblock %}
    {% block menu %}{% endblock %}
    {% block page_title %}{% endblock %}
</div><div id="hatta-content"> 
    {% block content %}{% endblock %}
</div><div id="hatta-footer"> 
    {% block footer %}{% endblock %}
</div>
    {% block scripts %}{% endblock %}
</body></html>
