{% extends 'base.html' %}

{% block meta %}<meta name="robots" content="NOINDEX, NOFOLLOW">{% endblock %}

{% block page_title %}<h1>{{ special_title }}</h1>{% endblock %}
{% block title %}{{ special_title }} - {{ wiki.site_name }}{% endblock %}

{% block footer %}
<a href="{{ url(None, 'recent_changes') }}" class="changes">{{ _('Changes') }}</a>
<a href="{{ url(None, 'all_pages') }}" class="index">{{ _('Index') }}</a>
<a href="{{ url(None, 'orphaned') }}" class="orphaned">{{ _('Orphaned') }}</a>
<a href="{{ url(None, 'wanted') }}" class="wanted">{{ _('Wanted') }}</a>
{% endblock %}
