
[Desktop Entry]
Version=1.0
Type=Application
Name=Hatta Wiki Engine
GenericName=Wiki Engine
Comment=Start Hatta wiki engine
Exec=hatta-icon.py -d ~/hatta -t /tmp/hatta
TryExec=hatta-icon.py
Icon=hatta
Terminal=false
Categories=Network;
StartupNotify=false
